body {
  color: #2F3E46;
  background-color: #CAD2C5;
  font-size: 100%;

}

h {
  color: #52796F;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.5em;
  
}

h2 {
  font-style: italic;
}

h3 {
 font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}

ul {
  list-style-type:lower-greek;  
  border-color: #354F52;
  padding-left: 20px;
}

li:hover {
  font-weight: bolder;
}